.project {
    margin: 1rem;
    background: linear-gradient(60deg, #292929 80%, #f4a261);
    display: flex;
    justify-items: center;
    width: 100%;
    padding: 2rem;
    border-radius: 1rem;
}

.project p {
    padding-right: 2rem;
}

.project:nth-child(2) {
    background: linear-gradient(60deg, #292929 80%, #2a9d8f);
}

.project img {
    background: transparent;
    align-content: top;
    justify-content: right;
    object-fit: contain;
    background-repeat: no-repeat;
    width: 20%;
    max-height: 12rem;
}

.details a {
    color: #353535;
    width: 10rem;
    height: 3rem;
    background: #999999; 
    text-align: center;
    padding: 12px 10px 15px 12px;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    border-radius: 5px;
}

.details p {
    padding-bottom: 2rem;
}

.details {
    display: flex;
    justify-items: center;
    width: 85%;
    background: transparent;
    flex-direction: column;
}

.details a:hover {
    background: cornsilk;
}