* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(
        to right top, 
        #f4a261 30%, 
        #75abbc
    );
}

main-title {
    background: transparent;
    color: rgba(230, 230, 230, 0.8);
    font-weight: 100;
    font-family: 'Quicksand', sans-serif;
    font-size: 6rem;
    position: fixed;
    top: 28%;
}

main-title:hover {
    color: rgba(230, 230, 230, 0.1);
    text-shadow: 0 0 2rem rgb(230, 230, 230); 

}

h1 {
    color:rgba(225, 225, 225, 0.6);
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 7rem;
    background: transparent;
}

h2 {
    color: #353535;
    font-weight: 100;
    font-family: Verdana, Tahoma, Geneva, sans-serif;
    font-size: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background: transparent;
}

h3 {
    color: #dddddd;
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20pt;
    background: transparent;
    width: 100%;
}

p {
    flex-grow: 1;
    color: #d5d5d5;
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    background: transparent;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: justify;
}

a {
    background: transparent;
}

main {
    min-height: 100vh;
    background-image: url(/images/background.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
}

.navbar {
    background: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 50rem;
    padding: 2rem;
}

.navbar a {
    float: right;
    width: 8rem;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    color: #540b0e;
    text-decoration: none;
}

.navbar a:hover {
    color: #9e2a2b;
    text-shadow: 0 0 3px #9e2a2b;
}

.center-pane {
    background: linen;
    width: 60%;
    min-width: 50rem;
    background: linear-gradient(
        to right bottom,
        rgba(225, 225, 225, 0.6),
        rgba(240, 240, 240, 0.2)
    );
    border-radius: 1rem;
    backdrop-filter: blur(4px);
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

.center-pane h2 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.rows {
    background: transparent;
    display: flex;
    justify-items: center;
    width: 49%;
    padding: 5px;
}

.rows:first-child {
    width: 30%;
    padding-bottom: 3rem;
}

.rows:nth-child(2) {
    width: 65%;
    padding-bottom: 3rem;
}

.title {
    background: transparent;
}

.project {
    margin: 1rem;
    background: linear-gradient(60deg, #292929 80%, #f4a261);
    display: flex;
    justify-items: center;
    width: 100%;
    padding: 2rem;
    border-radius: 1rem;
}

.project p {
    padding-right: 2rem;
}

.project:nth-child(3) {
    background: linear-gradient(60deg, #292929 80%, #2a9d8f);
}

.project img {
    background: transparent;
    align-content: top;
    justify-content: right;
    object-fit: contain;
    background-repeat: no-repeat;
    width: 20%;
    max-height: 12rem;
}

.details a {
    color: #353535;
    width: 10rem;
    height: 3rem;
    background: #999999; 
    text-align: center;
    padding: 12px 10px 15px 12px;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    border-radius: 5px;
}

.details p {
    padding-bottom: 2rem;
}

.details {
    display: flex;
    justify-items: center;
    width: 85%;
    background: transparent;
    flex-direction: column;
}

.details a:hover {
    background: cornsilk;
}

.image-circle {
    margin: auto;
    background-image: url(/images/me.png);
    background-size: cover;
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
}

.title-bar {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.rows:nth-child(3) {
    display: flex;
    justify-content: center;
    background-image: url(/images/standup.png);
    background-size: cover;
    padding: 1rem;
    border-radius: 1rem;
    flex-direction: column;
}

.rows:nth-child(4) {
    display: flex;
    justify-content: center;
    background-image: url(/images/code-img.png);
    background-size: cover;
    padding: 1rem;
    border-radius: 1rem;
    flex-direction: column;
}

/* .info-box:first-child {

} */

a.button1 {
    margin-bottom: auto;
    background-color: #353535;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-family: sans-serif;
    border-radius: 5px;
}

a.button1:hover {
    background-color: #999999;
}

.footer-bar {
    background: transparent;
    position: fixed;
    width: 100%;
    padding: 1rem;
    bottom: 0;
    left: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.footeritem img {
    background: transparent;
    object-fit: contain;
    background-repeat: no-repeat;
    max-height: 2rem; 
    margin: 1rem;
}
