* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(
        to right top, 
        #f4a261 30%, 
        #75abbc
    );
}

main-title {
    background: transparent;
    color: rgba(230, 230, 230, 0.8);
    font-weight: 100;
    font-family: 'Quicksand', sans-serif;
    font-size: 6rem;
    position: fixed;
    top: 28%;
}

main-title:hover {
    color: rgba(230, 230, 230, 0.1);
    text-shadow: 0 0 2rem rgb(230, 230, 230); 

}

h1 {
    color:rgba(225, 225, 225, 0.6);
    font-weight: 100;
    font-family: 'Quicksand', sans-serif;
    font-size: 7rem;
    background: transparent;
}

h2 {
    color: #353535;
    font-weight: 100;
    font-family: 'Quicksand', sans-serif;
    font-size: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background: transparent;
}

h3 {
    color: #dddddd;
    font-weight: 100;
    font-family: 'Quicksand', sans-serif;
    font-size: 20pt;
    background: transparent;
    width: 100%;
}

p {
    flex-grow: 1;
    color: #d5d5d5;
    font-weight: 100;
    font-family: 'Quicksand', sans-serif;
    font-size: 12pt;
    background: transparent;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: justify;
}

a {
    background: transparent;
}

main {
    min-height: 100vh;
    background-image: url(/images/background.png);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    flex-direction: column;
}

.center-pane {
    background: linen;
    width: 60%;
    min-width: 50rem;
    background: linear-gradient(
        to right bottom,
        rgba(225, 225, 225, 0.6),
        rgba(240, 240, 240, 0.2)
    );
    border-radius: 1rem;
    backdrop-filter: blur(4px);
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

.center-pane h2 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}


::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px #353535; */
     background: linear-gradient(
        to top,
        #43aa8b,
        #277da1
    );   
    /* background-color: #495057; */
    /* border-radius: 10px; */
}
  
::-webkit-scrollbar-thumb {
    /* background: #999999; */
    background: linear-gradient(
        to top,
        #f9c74f,
        #f8961e
    );
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(
        to top,
        #f8961e,
        #f9c74f
    );
    border-radius: 3px;
}

